.navbar {
  position: relative; /* plus besoin de absolute */
  width: 100%;
  background-color: var(--color-cobalt);
  display: flex;
  justify-content: center;
}

.navbar-inner {
  width: 100%;
  max-width: 1200px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

.links {
  display: flex;
  gap: 30px;
}

.links a {
  color: white;
  text-decoration: none;
  font-family: "Courier New", monospace;
  font-size: 12px;
  letter-spacing: 1px;
}